.clubs-item {
  text-align: center;
}

.clubs-item__header {
  padding: 15px;

  .clubs-item__img {
    margin-bottom: 15px;
  }

  .clubs-item__title {
    font-size: 36px;
    font-family: 'Bebas Neue', sans-serif;
  }
}

.club-item__img path {
  fill: black;
}

.clubs-item__description {
  display: none;
  padding: 15px;
}

.clubs-item:hover {
  background: white;
  z-index: 5;
  position: relative;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.11);
}

.clubs-item:hover .clubs-item__description {
  background: white;
  position: absolute;
  display: block;
  border-top: 1px solid #DDDDDD;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.11)
}

.clubs-item:hover .clubs-item__header {
  color: #0491D5;
}

.clubs-item:hover path {
  fill: #0491D5;
}