@import "../variables";

.news-item {
  background: linear-gradient(270deg, #001F2D 0%, rgba(0, 31, 45, 0.79) 100%),
  url('/images/news-bg-1.png');
  color: white;
  padding: 15px;
}

.news-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.news-item__title {
  color: yellow;
  font-size: 36px;
}

.news-item__date {
  margin-right: 15px;
  text-align: right;
}

.news-item-date__digit {
  line-height: 1;
  margin-bottom: 0;
}

.news-item__description {
  margin-bottom: 40px;
}

.news-item__btn {
  width: 150px;
  max-width: 100%;
}