@import '../variables';

.schedules-item {
  width: 100%;
  display: inline-flex;
  background: #001F2D;
  padding: 10px;
  color: white;
  font-size: 24px;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;

  .schedules-item__time {
    font-size: 48px;
    line-height: 1;
  }

  .schedules-item__cabinet {
    line-height: 1;
  }
}