@import "../variables";

.slider-schedules {
  width: 100%;
  height: 400px;
  padding-right: 15px;

  .swiper-slide {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 15px;
    margin-bottom: 15px;

    //@include respond-to(sm) {
    //  height: auto !important;
    //}
  }
}