<template>
    <div class="mb-4">
        <div class="row row-schedule"
             v-for="(schedule,index) in lesson.schedules">
            <div class="col-12 col-md-4">
                <div class="input">
                    <label for="day">День недели</label>
                    <select id="day" v-model.number="schedule.day">
                        <option value="1">Понедельник</option>
                        <option value="2">Вторник</option>
                        <option value="3">Среда</option>
                        <option value="4">Четверг</option>
                        <option value="5">Пятница</option>
                        <option value="6">Суббота</option>
                        <option value="7">Воскресенье</option>
                        <option value="-1">Указать дату</option>
                    </select>
                </div>
                <div class="input" v-if="schedule.day==-1">
                    <label for="datetime">Дата</label>
                    <input type="date" id="datetime"
                           required
                           v-model="schedule.date"/>
                </div>
                <button type="button" class="btn btn_link text-danger"
                        @click="lesson.schedules.splice(index,1)">Удалить
                </button>
            </div>
            <div class="col-12 col-md-8">
                <div class="input">
                    <label for="location">Место</label>
                    <input type="text" id="location"
                           required v-model="schedule.location"/>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input">
                            <label for="open-time">Время начала</label>
                            <input type="time" id="open-time"
                                   required v-model="schedule.openTime"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input">
                            <label for="close-time">Время завершения</label>
                            <input type="time" id="close-time"
                                   v-model="schedule.closeTime"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        <button type="button" class="btn btn_link"
                @click="addSchedule"
        >Добавить день
        </button>
    </div>
</template>

<script>
    export default {
        name: "LessonScheduleEditor",
        props: ['lesson'],
        methods: {
            addSchedule() {
                this.lesson.schedules.push({
                    lessonId: null,
                    location: null,
                    date: null,
                    day: null,
                    openTime: null,
                    closeTime: null,
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .row-schedule {
        border-bottom: 1px solid #949494;
        margin-bottom: 5px;
    }
</style>