<template>
    <div>
        <div class="h3">Занятия</div>
        <loading-component v-if="d_loading.items === 1"></loading-component>
        <template v-else-if="d_loading.items === 0">
            <div class="d-flex align-items-center mb-3"
                 v-for="item in d_items">
                <media-file class="mr-3"
                            :media-file="item.image"></media-file>
                <div>
                    <div class="font-weight-bold">{{item.name}}</div>
                    <div class="small">Создано {{item.createdAt|f_datetime}}</div>
                    <div>
                        <router-link class="btn btn_link"
                                     :to="{name:'lessons.edit', params:{lessonId:item.id}}"
                        >Редактировать
                        </router-link>
                    </div>
                </div>
            </div>
            <router-link class="btn btn_dark" :to="{name:'lessons.create'}">Создать занятие</router-link>
        </template>
        <intersection-observer @observe="fetch"
                               v-if="this.d_canLoadMore"
        ></intersection-observer>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import {lessons} from "../../../api/admin";
    import IntersectionObserver from "../utils/IntersectionObserver";
    import MediaFile from "../utils/Asset";

    export default {
        name: "TheLessons",
        components: {MediaFile, IntersectionObserver, LoadingComponent},
        data() {
            return {
                d_loading: {
                    items: null
                },
                d_items: [],
                d_itemsPerPage: 10,
                d_canLoadMore: true,
            }
        },
        methods: {
            fetch() {
                this.d_loading.items = 1;
                lessons.fetch({
                    with: ['image'],
                    offset: this.d_items.length,
                    limit: this.d_itemsPerPage,
                    order_by: 'created_at:desc'
                }).then(response => {
                    this.d_items = this.d_items.concat(response);
                    this.d_canLoadMore = !(response.length < this.d_itemsPerPage);
                    this.d_loading.items = 0;
                });
            }
        }
    }
</script>

<style scoped lang="scss">

</style>