<template>
    <div>
        <div class="h3">
            Редактор занятий
        </div>
        <div class="mb-3 d-flex flex-wrap">
            <router-link class="btn btn_link"
                         :to="{name:'lessons'}"><i class="material-icons">
                keyboard_arrow_left
            </i>Назад к списку занятий
            </router-link>
            <button v-if="d_model.id"
                    type="button" class="ml-auto btn btn_link text-danger"
                    @click="handleDeleteBtn">Удалить занятие
            </button>
        </div>
        <loading-component v-if="d_loading.model==LoadingStatus.Loading"></loading-component>
        <template v-else>
            <div class="tabs mb-4">
                <a href="#info" class="tabs__item"
                   :class="{active:$route.hash!='#schedule'}"
                >Общая информация</a>
                <a href="#schedule" class="tabs__item"
                   :class="{active:$route.hash=='#schedule'}"
                >Расписание</a>
            </div>
            <form class="w-100"
                  @submit.prevent="submit">
                <template
                        v-if="$route.hash!='#schedule'"
                >
                    <div class="input">
                        <label for="name">Название занятия</label>
                        <input type="text" id="name" required
                               v-model="d_model.name"/>
                    </div>
                    <v-wysiwyg v-model="d_model.description"></v-wysiwyg>
                    <attach-area-component label="Выберите изображение"
                                           v-model="d_model.image"></attach-area-component>
                </template>

                <lesson-schedule-editor v-else
                                        :lesson="d_model"
                ></lesson-schedule-editor>

                <request-errors :errors="d_errors"></request-errors>
                <loading-component v-if="d_loading.model==LoadingStatus.Submitting"></loading-component>
                <button class="btn btn_dark" type="submit" v-else-if="d_model.id">Применить изменения</button>
                <button class="btn btn_dark" type="submit" v-else>Создать</button>
            </form>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import {lessons} from "../../../api/admin";
    import IntersectionObserver from "../utils/IntersectionObserver";
    import VWysiwyg from "../utils/v-wysiwyg/VWysiwyg";
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import LessonScheduleEditor from "./LessonScheduleEditor";

    export default {
        name: "TheLessonEditor",
        components: {
            LessonScheduleEditor,
            RequestErrors, AttachAreaComponent, VWysiwyg, IntersectionObserver, LoadingComponent
        },
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    model: null
                },
                d_model: {
                    id: this.$route.params.lessonId,
                    name: null,
                    price: null,
                    description: null,
                    image: null,
                    schedules: [],
                },
                d_errors: null
            }
        },
        created() {
            if (this.d_model.id) {
                this.d_loading.model = LoadingStatus.Loading;
                lessons.get(this.d_model.id, {
                    with: ['image', 'schedules'],
                }).then(response => {
                    this.$set(this, 'd_model', response);
                    this.d_loading.model = LoadingStatus.LoadingSuccess;
                });
            }
        },
        methods: {
            packRequest() {
                let schedules = this.d_model.schedules.map(item => {
                    return {
                        lesson_id: item.lessonId,
                        location: item.location,
                        day: item.day,
                        date: item.date,
                        open_time: item.openTime,
                        close_time: item.closeTime,
                    }
                });

                return {
                    name: this.d_model.name,
                    description: this.d_model.description,
                    schedules: schedules,
                    image_id: this.d_model.image ? this.d_model.image.id : null
                }
            },
            submit() {
                if (this.d_model.id) {
                    this.update();
                } else {
                    this.store();
                }
            },
            store() {
                this.d_loading.model = LoadingStatus.Submitting;
                lessons.store(this.packRequest())
                    .then(response => {
                        this.d_loading.model = LoadingStatus.SubmittingSuccess;
                        this.$router.push({name: 'lessons'});
                    })
                    .catch(errors => {
                        this.d_loading.model = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            },
            update() {
                this.d_loading.model = LoadingStatus.Submitting;
                lessons.update(this.d_model.id, this.packRequest())
                    .then(response => {
                        this.d_loading.model = LoadingStatus.SubmittingSuccess;
                        this.$router.push({name: 'lessons'});
                    })
                    .catch(errors => {
                        this.d_loading.model = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            },
            handleDeleteBtn() {
                let confirm = window.confirm('Вы уверены? Это действие невозможно отменить...');
                if (confirm) {
                    this.d_loading.model = LoadingStatus.Submitting;
                    lessons.destroy(this.d_model.id)
                        .then(res => {
                                this.$router.push({name: 'lessons'});
                            }
                        );
                }
            },
        }
    }
</script>

<style scoped lang="scss">

</style>