<template>
    <div>
        <div class="h3">Пользователи</div>
        <loading-component v-if="d_loading.items === LoadingStatus.Loading"></loading-component>
        <template v-else>
            <div class="d-flex align-items-center mb-3"
                 v-for="item in d_items">
                </div>
            </div>
            <router-link class="btn btn_dark" :to="{name:'lessons.create'}">Создать занятие</router-link>
        </template>
        <intersection-observer @observe="fetch"
                               v-if="this.d_canLoadMore"
        ></intersection-observer>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import {lessons} from "../../../api/admin";
    import IntersectionObserver from "../utils/IntersectionObserver";
    import MediaFile from "../utils/Asset";
    import LoadingStatus from 'js/utils/LoadingStatus';

    export default {
        name: "TheLessons",
        components: {MediaFile, IntersectionObserver, LoadingComponent},
        data() {
            return {
                d_loading: {
                    items: null
                },
                d_items: [],
                d_itemsPerPage: 10,
                d_canLoadMore: true,
                LoadingStatus: LoadingStatus
            }
        },
        methods: {
            fetch() {
                this.d_loading.items = 1;
                lessons.fetch({
                    with: ['image'],
                    offset: this.d_items.length,
                    limit: this.d_itemsPerPage,
                    order_by: 'created_at:desc'
                }).then(response => {
                    this.d_items = this.d_items.concat(response);
                    this.d_canLoadMore = !(response.length < this.d_itemsPerPage);
                    this.d_loading.items = 0;
                });
            }
        }
    }
</script>

<style scoped lang="scss">

</style>