<template>
    <div class="media-file">
        <template v-if="mediaFile">
            <a class="media-file__thumbnail" target="_blank"
               v-if="c_thumbnail"
               :href="mediaFile.original"
               :style="{'background-image': `url(${c_thumbnail})`}"></a>
            <div class="media-file__thumbnail"
                 v-else-if="c_isIframe">
                <iframe :src="mediaFile.original" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="media-file__thumbnail" target="_blank"
               v-else
               :href="mediaFile.original">
                <div class="non-supported-format">{{c_extension}}</div>
            </a>
        </template>
        <a class="media-file__thumbnail" target="_blank" style="background: #ebebeb"
           v-else>
            <div class="non-supported-format">🗎</div>
        </a>
    </div>
</template>

<script>
    export default {
        name: "asset",
        props: ['asset'],
        computed: {
            c_isImg() {
                let types = ['image/gif', 'image/jpeg', 'image/svg', 'image/svg+xml', 'image/png'];
                return types.indexOf(this.mediaFile.type) > -1;
            },
            c_isIframe() {
                let types = ['vk_video'];
                return types.indexOf(this.mediaFile.type) > -1;
            },
            c_extension() {
                let arr = this.mediaFile.original.split('.');
                return arr[arr.length - 1];
            },
            c_thumbnail() {
                if (this.mediaFile.thumbnail) {
                    return this.mediaFile.thumbnail;
                } else if (this.c_isImg) {
                    return this.mediaFile.original;
                }
                return null;
            },

        }
    }
</script>

<style scoped lang="scss">
    .media-file {
        width: 100px;
        height: 100px;
        flex-shrink: 0;

        .media-file__thumbnail {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            flex-shrink: 0;

            &:before {
                content: "";
                background: black;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: opacity 0.1s ease-in;
                opacity: 0;
            }
            &:hover:before {
                opacity: 0.35;
            }

            ::v-deep iframe {
                width: 100%;
                height: 100%;
            }

            .non-supported-format {
                text-transform: uppercase;
                height: 100%;
                width: 100%;
                display: flex;
                font-size: 48px;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                font-family: Arial;
                color: #c4bcff;
            }
        }
    }

</style>