<template>
    <div>
        <div class="attach-area">
            <input type="file" name="files[]"
                   style="display: none;"
                   ref="input"
                   :multiple="multiple"
                   v-on:change="inputChanged">
            <button type="button"
                    v-on:dragover.prevent.stop
                    v-on:drop.prevent="onDrop"
                    v-on:click="$refs['input'].click()"
                    v-if="multiple || !d_value[0]">{{label}}
            </button>
            <div class="attach-area__items">
                <div class="attach-area__item"
                     v-for="(file, i) in d_value"
                     v-bind:key="i">
                    <div class="attach-area__item-preview">
                        <loading-component style="width: 100px;height: 100px;"
                                           v-if="file.isLoading"></loading-component>
                        <template v-else>
                            <asset :asset="file"></asset>
                        </template>
                        <button type="button" class="attach-area-item-preview__delete"
                                v-on:click.stop="removeFile(file)">
                            ×
                        </button>
                    </div>
                </div>
            </div>
            <i class="attach-area__video-btn"
               v-if="allowVideo && (multiple || !d_value[0])"
               @click="addVideo">📹</i>
        </div>
        <request-errors :errors="d_errors"
                        :show-message="false"></request-errors>
    </div>
</template>

<script>
    import axios from 'axios';
    import LoadingComponent from "./LoadingComponent";
    import Asset from "./Asset";
    import RequestErrors from "./RequestErrors";

    export default {
        name: "AttachAreaComponent",
        components: {RequestErrors, Asset, LoadingComponent},
        props: {
            'uploadUrl': {default: '/ajax/files'},
            'value': {default: null},
            'multiple': {default: false},
            'label': {default: 'Выберите файлы или перенесите в это поле'},
            'allowVideo': {default: false},
            'addingParameters': {
                default() {
                    return {}
                }
            },
        },
        data() {
            return {
                d_value: this.value ? [].concat(this.value) : [],
                d_errors: null
            }
        },
        computed: {
            c_value() {
                if (this.multiple) {
                    return this.d_value.filter(item => !item.isLoading);
                } else {
                    return this.d_value ? this.d_value[0] : null;
                }
            }
        },
        methods: {
            inputChanged(event) {
                let inputFiles = event.target.files;
                this.handleFiles(inputFiles);
                event.target.value = "";
            },
            handleFiles(files) {
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    let attachFile = {
                        id: null,
                        isLoading: true
                    };
                    this.d_value.push(attachFile);
                    this.uploadFile(file)
                        .then(loadedFile => {
                            attachFile.isLoading = false;
                            Object.assign(attachFile, loadedFile);
                            this.$emit('input', this.c_value);
                            this.$emit('add', attachFile);
                        })
                        .catch(error => {
                            let index = this.d_value.indexOf(attachFile);
                            if (index >= 0) {
                                this.d_value.splice(index, 1);
                            }
                        });
                }
            },
            onDrop(event) {
                let dt = event.dataTransfer;
                this.handleFiles(dt.files);
                return false;
            },
            uploadFile(file, type) {
                if (!type) type = 'file';
                return new Promise((resolve, reject) => {
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('type', type);
                    for (let param in this.addingParameters) {
                        formData.append(param, this.addingParameters[param]);
                    }
                    axios
                        .post(this.uploadUrl, formData)
                        .then(response => resolve(response.data.response))
                        .catch(error => {
                            this.d_errors = error.response.data;
                            return reject(error);
                        });
                });
            },
            addVideo() {
                let url = window.prompt("Код для встраивания видео:");
                if (url) {
                    let attachFile = {
                        id: null,
                        isLoading: true
                    };
                    this.d_value.push(attachFile);
                    this.uploadFile(url, 'video').then(loadedFile => {
                        attachFile.isLoading = false;
                        Object.assign(attachFile, loadedFile);
                        this.$emit('input', this.c_value);
                        this.$emit('add', attachFile);
                    });
                }
            },
            removeFile(file) {
                let index = this.d_value.indexOf(file);
                if (index >= 0) {
                    this.d_value.splice(index, 1);
                    if (!file.isLoading) {
                        this.$emit('input', this.c_value);
                        this.$emit('remove', file);
                    }
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .attach-area {
        width: 100%;
        min-height: 10rem;
        background: #00000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        padding: 0.5rem;
        border: 1px dashed #e3e3e3;
        position: relative;
        &:hover {
            background: #0000000a;
        }

        ::v-deep {
            .media-file__thumbnail {
                margin-right: 15px;
            }
        }
    }

    .attach-area button {
        background: none;
        border: none;
        outline: none !important;
        cursor: pointer;
        padding: 15px;
        color: rgb(169, 169, 169);
        font-weight: 800;
        font-size: 18px;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .attach-area__items {
        display: flex;
        flex-wrap: wrap;
    }

    .attach-area__item {
        color: black;
        background: #f3f3f3;
        display: inline-flex;
        align-items: center;
        border: 1px dashed #d6d6d6;
        border-radius: 10px;
        /*overflow: hidden;*/
        margin: 0.5rem;
        position: relative;
    }

    .attach-area__item-preview {
        min-width: 100px;
        min-height: 100px;

        .attach-area-item-preview__delete {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ff1414;
            cursor: pointer;
            position: absolute;
            top: -10px;
            right: -10px;
            left: auto;
            background: #1f1f1f;
            border-radius: 50%;
            opacity: 0.8;
            margin: auto;
            padding: 0;
            line-height: 1;

            &:hover {
                opacity: 1;
            }
        }
    }

    .attach-area__video-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 24px;
        cursor: pointer;
        &:hover {
            color: #8181f9;
        }
    }
</style>