<template>
    <div ref="anchor"></div>
</template>

<script>
    export default {
        name: "IntersectionObserver",
        mounted() {
            let options = {
                rootMargin: '0px',
                threshold: 1.0
            };
            let target = this.$refs.anchor;
            let observer = new IntersectionObserver(
                entries => {
                    const firstEntry = entries[0];
                    if (firstEntry.isIntersecting) {
                        this.$emit('observe');
                    }
                }, options);
            observer.observe(target);
        },
    }
</script>

<style scoped>

</style>