<template>
    <div class="message message_danger mb-3 small" v-if="errors && !d_hide">
        <div v-if="showMessage">{{errors.message}}</div>
        <ul class="mb-0 pl-0 ml-3"
            v-for="(errors, key) in errors.errors">
            <li v-for="error in errors">{{error}}</li>
        </ul>
        <button type="button" class="btn-close"
                @click="d_hide=true">&times;
        </button>
    </div>
</template>

<script>
    export default {
        name: "RequestErrors",
        props: {errors: {default: null}, showMessage: {default: true}},
        watch: {
            errors() {
                this.d_hide = false;
            }
        },
        data() {
            return {
                d_hide: false
            }
        }
    }
</script>

<style scoped>
    .message {
        position: relative;
    }

    .btn-close {
        color: white;
        position: absolute;
        top: 0px;
        right: 0px;
    }
</style>