@import "../variables";

.btn {
  border-radius: 5px;
  border: none;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  outline: none !important;
  color: $dark;
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none !important;
  display: inline-flex;

  &:not(.btn_link) {
    transition: background 0.1s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in;
    box-shadow: 0 4px #CCCCCC;
    background: $light;

    &:hover {
      background: darken($light, 10%);
      box-shadow: 0px -4px #8e8e8e;
      transform: translateY(4px);
      color: $primary;
    }
  }

  &.btn_link {
    background: none;
    padding: 0;
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }
  }
}

.btn-close {
  background: none;
  border: none;
  color: red;
  opacity: 0.5;
  font-size: 24px;
  font-family: Arial, sans-serif;

  &:hover {
    opacity: 1;
  }
}