@import "../variables";

.tabs {
  display: flex;
  position: relative;
  white-space: nowrap;

  @include respond-to(md) {
    overflow-x: auto;
    padding: 0 10px;
    &:after {
      content: none !important;
    }
  }

  &:after {
    content: "";
    width: 9999px;
    position: absolute;
    height: 5px;
    background: $dark;
    bottom: 0;
    left: -2000px;
    z-index: 1;
  }

  .tabs__item {
    color: white;
    border: none;
    font-weight: 500;
    padding: 10px 15px;
    position: relative;
    background: $dark;
    outline: none !important;
    text-decoration: none !important;
    //box-shadow: 0px 0px 11px #00000029;

    &:first-of-type {
      margin-left: 17px;

      &:before {
        content: "";
        position: absolute;
        background: $dark;
        width: 25px;
        height: 100%;
        top: 0;
        left: -15px;
        z-index: 0;
        transform: skewX(-15deg);
        border-radius: 10px 0 0 0;
      }
    }

    &:last-of-type {
      z-index: 0;

      &:after {
        content: "";
        position: absolute;
        background: $dark;
        width: 25px;
        height: 100%;
        top: 0;
        right: -15px;
        z-index: -1;
        transform: skewX(15deg);
        border-radius: 0 10px 0 0;
      }
    }

    &.active {
      background: $primary;

      &:before, &:after {
        background: $primary;
      }
    }

    &:hover, &:active {
      color: $primary;
      background: rgba(#616161, 1)!important;

      &:before, &:after {
        background: rgba(#616161, 1)!important;;
      }
    }
  }
}