<template>
    <div class="v-wysiwyg">
        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
            <div class="menubar">
                <button type="button"
                        class="menubar__button"
                        @click="commands.undo"
                >
                    &#8634;
                </button>

                <button type="button"
                        class="menubar__button"
                        @click="commands.redo"
                >
                    &#8635;
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.paragraph() }"
                        @click="commands.paragraph"
                >
                    &para;
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.bold() }"
                        @click="commands.bold"
                >
                    <span style="font-weight: 900">B</span>
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.italic() }"
                        @click="commands.italic"
                >
                    <i>i</i>
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.strike() }"
                        @click="commands.strike"
                >
                    <del>S</del>
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.underline() }"
                        @click="commands.underline"
                >
                    <u>U</u>
                </button>

                <!--<button type="button"-->
                <!--class="menubar__button"-->
                <!--:class="{ 'is-active': isActive.paragraph() }"-->
                <!--@click="commands.paragraph"-->
                <!--&gt;-->
                <!--<icon name="paragraph"/>-->
                <!--</button>-->

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                        @click="commands.heading({ level: 1 })"
                >
                    H1
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                        @click="commands.heading({ level: 2 })"
                >
                    H2
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                        @click="commands.heading({ level: 3 })"
                >
                    H3
                </button>

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.bullet_list() }"
                        @click="commands.bullet_list"
                >
                    ☰
                </button>

                <!--<button type="button"-->
                <!--class="menubar__button"-->
                <!--:class="{ 'is-active': isActive.ordered_list() }"-->
                <!--@click="commands.ordered_list"-->
                <!--&gt;-->
                <!--<icon name="ol"/>-->
                <!--</button>-->

                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.blockquote() }"
                        @click="commands.blockquote"
                >
                    &rdquo;
                </button>
                <button type="button"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.button() }"
                        @click="commands.button"
                >
                    BTN
                </button>


                <button type="button"
                        class="menubar__button"
                        @click="commands.horizontal_rule"
                >
                    —
                </button>

                <button type="button"
                        class="menubar__button"
                        @click="commands.createTable({rowsCount: 3, colsCount: 3, withHeaderRow: false })"
                >
                    ▤
                </button>

                <span class="d-flex"
                      v-if="isActive.table()">
						<!--<button type="button"-->
                    <!--class="menubar__button"-->
                    <!--@click="commands.deleteTable"-->
                    <!--&gt;-->
                    <!--<icon name="delete_table"/>-->
                    <!--</button>-->
						<button type="button"
                                class="menubar__button"
                                @click="commands.addColumnBefore"
                        >
							⇐
						</button>
						<button type="button"
                                class="menubar__button"
                                @click="commands.addColumnAfter"
                        >
							⇒
						</button>
                    <!--<button type="button"-->
                    <!--class="menubar__button"-->
                    <!--@click="commands.deleteColumn"-->
                    <!--&gt;-->
                    <!--<i class="icofont-delete"></i>-->
                    <!--</button>-->
						<button type="button"
                                class="menubar__button"
                                @click="commands.addRowBefore"
                        >
							⇑
						</button>
						<button type="button"
                                class="menubar__button"
                                @click="commands.addRowAfter"
                        >
							⇓
						</button>
                    <!--<button type="button"-->
                    <!--class="menubar__button"-->
                    <!--@click="commands.deleteRow"-->
                    <!--&gt;-->
                    <!--<icon name="delete_row"/>-->
                    <!--</button>-->
						<button type="button"
                                class="menubar__button"
                                @click="commands.toggleCellMerge"
                        >
                            ◫
						</button>
                </span>
            </div>
        </editor-menu-bar>
        <editor-menu-bubble class="menububble" :editor="editor" @hide="hideLinkMenu"
                            v-slot="{ commands, isActive, getMarkAttrs, menu }">
            <div
                    class="menububble"
                    :class="{ 'is-active': menu.isActive }"
                    :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
            >

                <form class="menububble__form" v-if="linkMenuIsActive"
                      @submit.prevent="setLinkUrl(commands.customlink, linkUrl)">
                    <input class="menububble__input" type="text" v-model="linkUrl" placeholder="https://"
                           ref="linkInput" @keydown.esc="hideLinkMenu"/>
                    <button class="menububble__button" @click="setLinkUrl(commands.customlink, null)" type="button">
                        &times;
                    </button>
                </form>

                <template v-else>
                    <button
                            class="menububble__button"
                            @click="showLinkMenu(getMarkAttrs('customlink'))"
                            :class="{ 'is-active': isActive.customlink() }"
                    >
                        <span>{{ isActive.customlink() ? 'Обновить ссылку' : 'Добавить ссылку'}}</span>
                        🔗
                    </button>
                </template>

            </div>
        </editor-menu-bubble>
        <editor-content class="editor__content" :editor="editor"/>
    </div>
</template>

<script>
    import {Editor, EditorContent, EditorMenuBar, EditorMenuBubble} from 'tiptap'
    import {
        Blockquote,
        CodeBlock,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Image,
        Code,
        Italic,
        Strike,
        Underline,
        History,
        Table,
        TableHeader,
        TableCell,
        TableRow,
    } from 'tiptap-extensions'
    import TipTapButton from './TipTapButton';
    import TipTapCustomLink from './TipTapCustomLink';

    export default {
        name: "v-wysiwyg",
        components: {EditorContent, EditorMenuBar, EditorMenuBubble},
        props: ['value'],
        data() {
            return {
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({levels: [1, 2, 3]}),
                        new HorizontalRule(),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Bold(),
                        new Code(),
                        new Image(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                        new Table({
                            resizable: true,
                        }),
                        new TableHeader(),
                        new TableCell(),
                        new TableRow(),
                        new TipTapButton(),
                        new TipTapCustomLink(),
                    ],
                    content: this.value,
                    onUpdate: ({getHTML}) => {
                        let newContent = getHTML();
                        this.$emit('input', newContent);
                    },
                }),
                linkUrl: null,
                linkMenuIsActive: false,
            }

        },
        beforeDestroy() {
            this.editor.destroy()
        },
        methods: {
            showLinkMenu(attrs) {
                this.linkUrl = attrs.href;
                this.linkMenuIsActive = true;
                this.$nextTick(() => {
                    this.$refs.linkInput.focus();
                })
            },
            hideLinkMenu() {
                this.linkUrl = null;
                this.linkMenuIsActive = false;
            },
            setLinkUrl(command, url) {
                command({href: url});
                this.hideLinkMenu();
                this.editor.focus();
            },
        },
    }
</script>

<style scoped lang="scss">

    .v-wysiwyg {
        display: flex;
        flex-direction: column;
    }

    .menububble {
        position: absolute;
        padding: 5px;
        background: rgb(25, 25, 25);
        border-radius: 4px;
        color: white;
        opacity: 0;
        transition: opacity 0.1s ease-in;
        z-index: -1;

        &.is-active {
            opacity: 1;
            z-index: 10;
        }

        button {
            background: none;
            border: none;
            color: white;

            &:hover {
                background: rgb(61, 61, 61);
            }
        }
    }

    .menubar {
        border: 1px solid #e8e8e8;
        border-bottom: 0;
        display: flex;
        flex-wrap: wrap;

        .menubar__button {
            font-weight: 700;
            background: transparent;
            border: 0;
            color: #000;
            opacity: 0.3;
            cursor: pointer;
            width: 35px;
            height: 35px;
            padding: 0;
            border-bottom: 2px solid transparent;

            img {
                width: 14px;
            }

            &:hover {
                /*background: #dcdcdc;*/
                opacity: 1;
            }

            &.is-active {
                opacity: 1;
                /*background: #eaeaea;*/
                border-bottom: 2px solid #9570dc;
            }
        }
    }

    .editor__content {
        border: 1px solid #e8e8e8;
        padding: 15px;
        height: 100%;
    }

    ::v-deep {

        .ProseMirror {
            min-height: 100px;
        }

        *:focus {
            outline: none;
        }

        ul {
            padding-left: 40px;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            margin: 0;
            overflow: hidden;

            td {
                border: 2px solid #ececec;
                min-width: 50px;
                position: relative;
                padding: 5px;
            }

            .selectedCell {
                background: #e6dcf8;
            }
        }

        .column-resize-handle {
            background: #e6dcf8;
            position: absolute;
            height: 100%;
            width: 4px;
            top: 0;
            right: -2px;
        }

        .resize-cursor:hover {
            cursor: col-resize;
        }

        .tableWrapper {
            overflow-x: auto;
        }
    }
</style>