@import "../variables";

nav {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  padding: 15px 0;

  a {
    color: white;

    &:hover {
      color: #f1d047;
      text-decoration: none;
    }
  }

  .nav__links {
    @include respond-to(sm) {
      display: none;
    }
  }
}