@import "../variables";

.z5 {
  z-index: 5;
  position: relative;
}

@media (min-width: 768px) {
  .w-sm-auto {
    width: auto !important;
  }
}

@media (min-width: 992px) {
  .w-md-auto {
    width: auto !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-auto {
    width: auto !important;
  }
}