@import "../variables";

@keyframes lamp-blink {
  0% {
    fill: gray;
  }
  5% {
    fill: #f1ff9f;
  }
  10% {
    fill: #fdff3d;
  }
  15% {
    fill: gray;
  }
  20% {
    fill: #f4ff1c;
  }
  25% {
    fill: #d4d4d4;
  }
  30% {
    fill: #e6ff77;
  }
  40% {
    fill: #f4ff1c;
  }
  50% {
    fill: #f4ff1c;
  }
  60% {
    fill: #e6ff77;
  }
  70% {
    fill: #99aa5d;
  }
  80% {
    fill: #f4ff1c;
  }
  90% {
    fill: #e5ff8d;
  }
  100% {
    fill: #f4ff1c;
  }
}

@keyframes lamp-blind {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  }
}

.entry-block-lamp__bg {
  background: linear-gradient(-146.66deg, #109ae2 4.67%, #02041d 69.45%);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;

  &:before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: -23px;
    bottom: -34px;
    background: linear-gradient(146.66deg, #109ae2 4.67%, #02041d 69.45%);

    opacity: 0.5;
    border-radius: 50%;
  }

  @include respond-to(md) {
    //background: rgba(255, 255, 255, 0.2);
    //&:before {
    //  content: none;
    //}
  }
}

.entry-block-lamp__svg-wrap {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 3000px;
    height: 3000px;
    background: rgba(255, 255, 255, 0.08);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    top: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    animation: lamp-blind 3s 2.5s forwards;
  }
}

.entry-block-lamp__svg {
  z-index: 2;
  position: relative;

  .lamp {
    fill: gray;
    animation: lamp-blink 1.5s 1s forwards;
  }
}

.clubs {
  background: #F0F0F0;
}

.block-entry {
  color: white;
  background: linear-gradient(146.66deg, #109ae2dd 4.67%, #02041ddd 69.45%),
  repeating-linear-gradient(45deg, #e2ffd2, #e2ffd2 50px, transparent 0, transparent 100px) repeat;
  overflow: hidden;
}

.block-entry .h1 {
  line-height: 85px;
}

.star {
  position: absolute;
  width: 100%;
  bottom: -50%;
  transform: rotate(57deg);

  path {
    transform-origin: center;
    fill: rgba(yellow, 0);
    stroke: yellow;
    stroke-width: 2px;
    stroke-dasharray: 1000%;
    stroke-dashoffset: 1000%;
    transition: fill 1s 3s, stroke-dasharray 3s, stroke-dashoffset 3s;
  }

  @include respond-to(md) {
    width: 400px;
    height: 400px;
    top: -400px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &.aos-animate {
    path {
      stroke-dasharray: 1000%;
      stroke-dashoffset: 600%;
      fill: yellow;
    }
  }
}

.star + img {
  z-index: 1;
  position: relative;
}